.addNewBook p {
    margin-left: 120px;
}

    .addNewBook .content img {
        float: left;
        clear: right;
        margin-left: 120px;
        min-width: 200px;
        min-height: 500px;
    }

    .addNewBook .content section {
        margin-left: 120px;
    }

        